footer {
    background-color: red;
}

body {
    background-color: antiquewhite;
}

header {
    text-align: center;
    background-color: orange;
}

#FormTit {
    font-style: italic;
}

.ElConter {
    margin-right: 22em;
    margin-bottom: 80px;
    background-color: antiquewhite;
    /*Articulos de index*/
}

.Recom {
    margin-top: 3em;
    margin-left: 25em;
    margin-right: 25em;
    margin-bottom: 3em;
    padding-top: 10em;
    padding-left: 5em;
    padding-bottom: 10em;
    text-align: left;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: rgb(169, 244, 219);
    /*Esto es solo para la pgina de recomendaciones*/
}

aside {
    opacity: 80%;
    margin-left: 68em;
    position: absolute;
    z-index: 4;
}

.CostadoCsGoIndex {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    bottom: 500px;
    position: absolute;
    /*Aside del index*/
}

.principal {
    border: 0.2em;
    border-color: blue;
    border-style: dashed;
    margin-left: 27em;
    margin-right: 28em;
    background-color: aquamarine;
    /*Nav del header*/
}

.aches {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
    /*H3 de la lista de armas y objetos de compra*/
}

.ACont {
    font-style: italic;
    font-weight: bolder;
    /*Contenido interno del .aches*/
}

.ElCs {
    margin-right: 22em;
    margin-bottom: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    /*Art de consejos*/
}

.Formulario {
    border: 2em;
    border-color: aqua;
    border-style: double;
    margin-left: 30em;
    margin-right: 30em;
    margin-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    /*Main dentro de form*/
}

/*Aspectos de menu de armas*/
.conteiner {
    padding-left: 10px;
    background-color: orange;
    width: 98%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "nav nav nav nav"
        "extra info info info"
        "mapas mapas mapas extra1"
        "extra2 armas armas armas"
        "form form form extra3"
    ;
}

.nav {
    grid-area: nav;
    background-color: red;
    height: 80px;
    text-align: center;
}

.form,
.info,
.form,
.armas,
.mapas {
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.info {
    grid-area: info;
    background-color: blue;
}

.form {
    grid-area: form;
    background-color: green;
}

.armas {
    grid-area: armas;
    background-color: cyan;
}

.mapas {
    grid-area: mapas;
    background-color: blueviolet;
}

.extra,
.extra1,
.extra2,
.extra3 {
    background-color: antiquewhite;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.extra {
    grid-area: extra;
}

.extra1 {
    grid-area: extra1;
}

.extra2 {
    grid-area: extra2;
}

.extra3 {
    grid-area: extra3;
}